.wrapper {
  margin: 20px;
  max-width: 80%;
  max-height: 80%;
}

.lengend {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
}

select {
  margin: 8px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 0 auto;
}
